---
Language: Cpp
BasedOnStyle: WebKit
# Força Tabs
UseTab: Always
IndentWidth: 2
TabWidth: 2

# Indenta o #if (O seu problema anterior)
IndentPPDirectives: BeforeHash

BreakBeforeBraces: Attach

SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false

AllowShortFunctionsOnASingleLine: Empty
SortIncludes: Never
---